<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-darkmode"
        version="1.0.0">

  <name>DarkMode</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/darkmode.js" target="js/darkmode.js"/>

  <js-module src="www/darkmode.js" name="darkmode">
    <clobbers target="darkmode" />
  </js-module>

  <platform name="android">
	<config-file target="res/xml/config.xml" parent="/*">
      <feature name="DarkMode">
        <param name="android-package" value="com.openmove.darkmode.DarkMode"/>
      </feature>
    </config-file>
	 <source-file src="src/android/DarkMode.java" target-dir="src/com/openmove/darkmode/"/>
  </platform>

  <platform name="ios">
      <config-file target="config.xml" parent="/*">
          <feature name="DarkMode">
              <param name="ios-package" value="DarkMode" onload="true" />
              <param name="onload" value="true" />
          </feature>
      </config-file>
    <header-file src="src/ios/DarkMode.h" />
    <source-file src="src/ios/DarkMode.m" />
  </platform>

</plugin>
